name: Deploy Frontend to Azure

on:
  push:
    branches:
      - main

env:
  REGISTRY_NAME: acrfrontedltapi
  IMAGE_NAME: fronted
  RESOURCE_GROUP: rg-multi-apis
  APP_SERVICE_NAME: frontend-cloud-sandbox

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Log in to ACR
        run: |
          az acr login --name $REGISTRY_NAME

      - name: Build and push image to ACR
        run: |
          docker build -t $REGISTRY_NAME.azurecr.io/$IMAGE_NAME:latest .
          docker push $REGISTRY_NAME.azurecr.io/$IMAGE_NAME:latest

      - name: Deploy container to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.APP_SERVICE_NAME }}
          images: ${{ env.REGISTRY_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:latest
